.context {
    font-size: 14px;
    width: 180px;
    background: #626367;
    color: white;
    text-align: center;
    border-radius: 4px;
    padding: 10px;
    border-width: 1px;
    border-color: rgba(255, 255, 255, 0.6);
    border-style: solid;
    margin-right: 10px;
}
.tier-img{
    height: 30px;
    transform: scale(3);
}
.nickname{
    padding-bottom: 2px;
    color: orange;
    font-size: 20px;
}
.tier-text{
    padding-bottom: 2px;
}
.win-rate-graph {
    background: #5383E8;
    width: 130px;
    height: 20px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    display: flex;
    justify-content: space-between;
    padding-left: 8px;
}
.win-rate-graph .bar{
    background: #E84057;
    height: 20px;
    text-align: right;
    padding-right: 7px;
}
.WLR-div{
    padding-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.match-div{
    display: flex;
    margin-bottom: 2px;
}
.match-div-img{
    width: 18px;
    height: 18px;
    padding-right: 22px;
}
.kda-box{
    width: 60px;
    border-radius: 2px;
    text-align: center;
}
.time-div {
    margin: auto 0 auto auto;
}