body {
    background: rgb(57, 58, 60);
}

.container {
  text-align: center;
  margin: 0 auto;
  width: 300px;
}
.container .search-text {
  background: #626367;
  color: white;
  font-size: 14px;
  width: 300px;
  height: 200px;
  border-radius: 4px;
  resize: none;
  padding: 10px;
}
::placeholder {
  color: rgba(255, 255, 255, 0.6);
}
.container .buttons {
  display: flex;
  justify-content: space-between;
}
.container .buttons select {
  font-size: 14px;
  border-radius: 4px;
  padding: 5px 10px;
  cursor: pointer;
}
/* select-option 스타일 변경 */
.container .buttons .search {
  font-size: 14px;
  background: orange;
  margin-right: -20px;
  border-radius: 4px;
  border: none;
  padding: 5px 40px;
  cursor: pointer;
}